#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon=/opt/ExifTool/ExifTool.png
Name=ExifTool
Exec=/usr/bin/ExifTool %f
Commen=ExifTool Tools
Categories=Utility;
